---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Tags from '../../components/Tags.astro';
import SourceLink from '../../components/SourceLink.astro';

export async function getStaticPaths() {
  const videos = await getCollection('videos');

  return videos.map(function (video) {
    return {
      params: { slug: video.slug },
      props: { video }
    }
  });
}

const { video } = Astro.props;
const { Content } = await video.render();
const { title: narTitle, channel, platform } = video.data;
const sourceLink = video.data['source-link'];
const videoTags = video.data['video-tags'];
const videoDescriptionMarkup = video.data['video-description'] ?? null;
const videoTitle = video.data['video-title'] ?? null;
const tweetTextMarkup = video.data['tweet-text'] ?? null;
---

<Layout title={video.data.title}>
  <main>
    <div class="tube">
    <a href="/" class="back-link">&larr; Not a rabbit hole.</a>

    <div class:list={[ 'video-wrapper', `${platform}` ]}>
      <Content />
    </div>

    <div class="title">
     { narTitle }
    </div>

    { videoTitle && <div class="video-title">{ videoTitle }</div> }

    { tweetTextMarkup && <div set:html={tweetTextMarkup} />}

    { videoDescriptionMarkup && <div set:html={videoDescriptionMarkup} />}

    <div class="attribution">
     { channel }
    </div>

    <div class="source-link-container">
      <SourceLink link={sourceLink} platform={platform} />
    </div>

    <div class="tags-container">
      <Tags tags={videoTags} />
    </div>

    </div>
  </main>
</Layout>
<style>
  .title {
    text-align: left;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  .attribution {
    text-align: left;
    margin-bottom: 1rem;
  }

  .back-link {
    display: block;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .source-link-container {
    margin-bottom: 1rem;
  }

  .tags-container {
    margin-bottom: 1rem;
  }

  .source-link-container {
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
  }
</style>
