---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Tags from '../../components/Tags.astro';
import SourceLink from '../../components/SourceLink.astro';

export async function getStaticPaths() {
  const videos = await getCollection('videos');

  return videos.map(function (video) {
    return {
      params: { slug: video.slug },
      props: { video }
    };
  });
}

const { video } = Astro.props;
const { Content } = await video.render();
const { title: narTitle, attribution, platform } = video.data;
const sourceLink = video.data['source-link'];
const attributionLink = video.data['attribution-link'];
const videoTags = video.data['video-tags'];
const videoDescriptionMarkup = video.data['video-description'] ?? null;
const videoTitle = video.data['video-title'] ?? null;
const tweetTextMarkup = video.data['tweet-text'] ?? null;
const attributionTitle = platform === 'YouTube' ? 'Channel' : 'User';
---

<Layout title={video.data.title}>
  <main class="video-page">
    <div class="tube">
      <a href="/" class="back-link fraunces-i">&larr; Not a rabbit hole.</a>

      <div class:list={['video-wrapper', `${platform}`]}>
        <Content />
      </div>

      <h1 class="title fraunces-title">
        {narTitle}
      </h1>

      {
        videoTitle && (
          <div class="video-title">
            <h2 class="fraunces-section-header">Video Title</h2>
            <p>{videoTitle}</p>
          </div>
        )
      }

      {
        tweetTextMarkup && (
          <div>
            <h2 class="fraunces-section-header">X Post Text</h2>
            <div set:html={tweetTextMarkup} />
          </div>
        )
      }

      {
        videoDescriptionMarkup && (
          <div>
            <h2 class="fraunces-section-header">Video Description</h2>
            <div set:html={videoDescriptionMarkup} />
          </div>
        )
      }

      <div class="attribution">
        <h2 class="fraunces-section-header">{attributionTitle}</h2>
        <p><a href={attributionLink}>{attribution}</a></p>
      </div>

      <div class="source-link-container">
        <SourceLink link={sourceLink} platform={platform} />
      </div>

      <div class="tags-container">
        <Tags tags={videoTags} />
      </div>
    </div>
  </main>
</Layout>
<style>
  .title {
    text-align: left;
    margin-bottom: 1rem;
    font-size: 3.33rem;
  }

  .attribution {
    text-align: left;
    margin-bottom: 1rem;
  }

  .back-link {
    display: block;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .source-link-container {
    margin-bottom: 2rem;
  }

  .tags-container {
    margin-bottom: 2rem;
  }

  .source-link-container {
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
  }

  h2 {
    color: var(--green);
  }

  .tube {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
</style>
